@import 'https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap';
* {
    box-sizing: border-box;
}
body {
    background-image: url(image/Background.png);
    font-family: "Courier Prime";
    font-size: 16px;
    line-height: 22px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.formulaire img {
    position: absolute;
    top: 50px;
    left: 180px;
    background-color: transparent;
}
.photo {
    box-shadow: -15px 25px 20px;
}
.dde {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 870px;
    top: 270px;
    left: 450px;
    border: 0;
}
.texte {
    position: absolute;
    top: 325px;
    left: 200px;
    border: transparent;
}
input {
    background-color: transparent;
    padding: 10px;
    width: 350px;
    height: 60px;
    border: 0 solid;
    border-radius: 15px;
    text-align: center;
    font-family: "Courier Prime";
    font-size: 23px;
    outline: none;
}
.expediteur {
    position: relative;
    top: 760px;
    left: 950px;
    width: 350px;
    text-align: end;
}
.date {
    width: 200px;
}
.text {
    background-color: transparent;
    padding: 10px;
    width: 1095px;
    height: 450px;
    font-family: "Courier Prime";
    font-size: 19px;
    line-height: 1;
    overflow: hidden;
    color: #000;
    outline: none;
    position: relative;
}
.custom-button {
    color: #000;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}
#redBg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    background-color: transparent;
}
#lcBg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    z-index: 1;
    background-color: transparent;
}
.title {
    position: absolute;
    text-decoration: none;
    color: grey;
    text-align: center;
    width: 300px;
    right: -40px;
    bottom: -18px;
}
.menu {
    width: 310px;
    height: 60px;
    padding: 10px;
    border: 0 solid #000;
    border-radius: 15px;
    background-color: transparent;
    text-align: center;
    font-family: "Courier Prime";
    font-size: 23px;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 2;
}
#image-container {
    position: absolute;
    display: none;
    justify-content: space-between;
    width: 835px;
}
#selected-image1 {
    width: 330px;
    height: auto;
    top: -220px;
    left: 565px;
    z-index: 1;
}
select option:checked {
    background-color: grey;
    color: #fff;
}
#editable {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
}
.bouton {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 150px;
    top: 0px;
    left: 0px;
}
.custom-button {
    cursor: pointer;
}
.custom-button.active {
    background-color: grey;
}
.impressionn img {
    width: 350px;
    position: relative;
    cursor: pointer;
    left: 1415px;
    top: 675px;
    transition: transform 0.3s ease-in-out;
}
.impressionn img:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}
.tampon_rouge {
    position: relative;
    width: 340px;
    cursor: pointer;
    left: 1395px;
    top: -130px;
    transition: transform 0.3s ease-in-out;
}
.tampon_rouge:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}
.tampon_lc {
    position: relative;
    width: 340px;
    cursor: pointer;
    left: 1080px;
    top: 210px;
    transition: transform 0.3s ease-in-out;
}
.tampon_lc:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}
